*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Verdana,sans-serif;
    font-style: normal;
    font-weight: normal;
    overflow-x: hidden;
}

/* Start of header*/
#row{
    border-bottom: 1px solid #deb618;
    border-top: 1px solid #deb618;
}
.logo-header{
    display: block;
    width: 408px;
    margin-left: 41%;
    height: 135px;

}
.ul_header{
    list-style-type: none;
    overflow: hidden;
}
.ul_header li{
    float: left;
}
.ul_header li a{
    display: block;
    margin-top: 95px;
    margin-left: 20px;
    color: black;
    text-decoration: none;
}
.ul_header li a:hover{
    color: #fbb54e;
}
/*End of header*/

/*start of nav */
.ul_nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 30%;
}
.ul_nav li{
    float: left;
}
.ul_nav li a{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.ul_nav li a:hover{
    background: #271207bb;
    color: #fbb54e;
}
/*End of nav*/

/* Start Of Section all products*/
.all_products{
    width: 100%;
    height: 500px;
    background-image: url("../../assets/img/background-gold-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.all_products p{
    text-align: center;
    font-size: 60px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'ZCOOL XiaoWei', serif;
    margin-top: 85px;
}
.all_products a{
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    background: #110803;
    color:white;
    padding:10px;
    text-decoration:none;
}
.all_products a:hover{
    color:white;
    background: #271207bb;
}
.all_products_div{
    height: 100%;
    background: #431b0826;
}
/* End Of Section of all products*/

/* Start of section new product */

.carousel-item img{
    width: 100%;
    height: 450px;
}  
.carousel-indicators .active{
    background: rgba(53, 52, 52, 0.322);
}
.most_popular_product{
    /*background: #1c24dbd9;*/
    background-image: url("../../assets/img/background-gold-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
   /* margin-top: 10px;*/
    height: 160px;
    padding: 15px
}
.most_popular_product img{
    width: 200px;
    height: 120px;
    padding: 10px;
    margin: 5px;
    margin-left: 30px
}
.most_popular_product .carousel-item{
    text-align: center;
}
/* End of section new product*/

/*start of footer*/
footer{
    width: 100%;
    height: 120px;
    background: #f6f8f8;
}
footer .row{
    margin-top: 50px;
    margin-left: 45%;
}
footer .row span{
    padding: 10px;
    font-size: 20px;
}
footer .row span a{
    color: black;
    text-decoration: none;
}
footer .row span a:hover{
    color: #fbb54e;
}
/*end of footer*/

/*Start of Sign up form*/

.container_signup{
    position: relative;
    padding: 20px;
    text-align: center;
    margin: 20px 160px;
}
.container_signup p{
    color: gray;
}
.container_signup p a{
    color: gray;
    text-decoration: none;
}
.container_signup p a:hover{
    color: #fbb54e;
    text-decoration: none;
}
.signup_form{
    padding: 20px 50px;
}
#signup_btn{
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    font-weight: bold;
}
/*End of sign up form*/
/*start of about us*/
.about_us_section{
    background: #dcad42c7;
}
.about_us{
    text-align: center;
    margin: 10px;
    margin-top: 5%;
    height: 810px;
}
.about_us img{
    width: 320px;
    height: 300px;
    margin-bottom: 25px;
}
.about_us h1{
    font-style: italic;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 3rem;
}
.about_us p{
    line-height: 40px;
}
.about_us a{
    border: 1px solid black;
    padding: 12px;
    color:black;
}
.about_us a:hover{
    text-decoration: none;
    color:black;
}

/*end of about us*/

/*start of display stors*/



/*End of display all stors*/